
*{
  box-sizing: border-box;
  
}
form{
    display:flex;
    flex-direction:column;
    
    height:100% ;
    
}
body{ 
    padding: 1em;
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    color: #b9b9b9;
    background-color: #e3e3e3;
    display: flex;
    justify-content: center;
    background-image:url(logo.png);
    background-repeat: no-repeat; 
    
    

    
  }


select,input{
    width:98%;
    padding: 7px;
    line-height:  1.4;
    margin: 5px;
    align-items: center;
    display: flex;
    justify-content:center ;
    
}
button{
    
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
header{
    text-align: center;

}
select{
    cursor:pointer ;
}

label{
    text-align:center ;
}
.main-nav {
    display: flex;
}
    
.push {
    margin-left: auto;
}
nav{
    display:flex;
    justify-content: center;
    
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;  
    }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #b9b9b9;
    
  }
  .logofond{
    padding: 40px;
    background-image: url(dof.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .born{
    display: flex;
  }
  .colorpicker {
    flex: 1; 
    padding: 1em;
    border: solid;
  }